.posts {
    &__inner {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 140px;

        .post {
            margin-bottom: 100px;

            &__link {
                img {
                    width: 550px;
                    height: 360px;
                    transition: all 0.3s linear;

                    &:hover {
                        transform: scale(.9);
                    }
                }
            }

            &__info {
                padding-left: 15px;
            }

            &__title {
                font-size: 26px;
                margin: 8px 0;
            }

            &__subtitle {
                color: $grey;
                font-weight: 300;
                font-size: 16px;
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .posts__inner .post img{
        width: 500px;
    }  
}

@media screen and (max-width: 1140px) {
    .posts__inner {
        flex-direction: column;
        align-items: center;
    }
    .posts__inner .post img{
        width: 600px;
    }  

    .posts__inner .post .post__info{
        padding-left: 0;
    }  

    .posts__inner .post {
        text-align: center;
    }  
}

@media screen and (max-width: 620px) {
    .posts__inner .post img{
        object-fit: contain;
        width: 100%;
        height: 100%;
    }  

    .posts__inner .post {
        margin-bottom: 60px;
    }  
}