@import url(./vars.css);
@import url(./works.css);
@import url(./logos.css);
@import url(./blog.css);
@import url(./slideshow.css);
@import url(./about.css);
@import url(./singleproject.css);

*,
*::after,
*::before {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: "Roboto", sans-serif;
    background-color: #fff;
}

body.modal_open {
    position: fixed;
}

a {
    text-decoration: none;
    transition: all 0.3s linear;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    color: $black;
}

p {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

button {
    padding: 0;
    font: inherit;
    color: $black;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.3s linear;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

@media screen and (max-width: 1200px) {
    .container {
        width: 90%;
    }
}

.list {
    display: flex;
    flex-direction: column;
}

.footer-navbar__link_active-page {
    cursor: default !important;
    color: $black !important;
    pointer-events: none !important;
}

.modal__link_active-page {
    cursor: default !important;
    opacity: 0.5;
    pointer-events: none !important;
}

.works-button {
    align-self: center;
    border: 1px solid $black;
    color: $black;
    padding: 13px 18px;
    font-weight: 400;
    font-size: 15px;
    margin: 0 auto;

    &:hover {
        color: #fff;
        background-color: $black;
    }
}

.reveal {
    position: relative;
    opacity: 0;
}

.reveal.active {
    opacity: 1;
}

.active.fade-bottom {
    animation: fade-bottom 1s linear;
}

.active.fade-top {
    animation: fade-top 1s linear;
}

@keyframes fade-bottom {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fade-top {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/* HEADER */

.header {
    &__inner {
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 50px 0;
    }

    &__title {
        color: $black;
        font-weight: 700;
        font-size: 24px;
    }

    .open-modal-button {
        font-weight: 700;
        font-size: 20px;
        padding: 6px 12px;

        &:hover {
            color: $grey;
        }
    }
}

/* MODAL */

.modal {
    position: fixed;
    left: 0;
    top: -100%;
    width: 100%;
    height: 100%;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $black;
    transition: all 0.3s ease-in-out;

    &__inner {
        text-align: center;
        color: #fff;
    }

    &__title {
        opacity: 0.2;
        font-size: 50px;
        color: #fff;
        margin-bottom: 30px;
        letter-spacing: 3px;
    }

    &__list {
        gap: 25px;
        margin-bottom: 15px;
    }

    &__link {
        font-size: 20px;
        color: #fff;

        &:hover {
            opacity: 0.2;
        }
    }

    .close-modal-button {
        padding: 2px;
        font-size: 24px;
        cursor: pointer;
        color: #fff;
    }
}

.modal_open {
    top: 0;
}

@media screen and (max-width: 768px) {
    .modal__title {
        font-size: 40px;
    }
}

/* PREVIEW */

.preview {
    margin-bottom: 250px;

    &__inner {
        text-align: center;
        padding-top: 10%;
    }

    &__title {
        font-weight: 700;
        font-size: 40px;
        margin-bottom: 10px;
    }

    &__subtitle {
        font-weight: 400;
        font-size: 20px;
    }
}

@media screen and (max-width: 768px) {
    .preview {
        margin-bottom: 180px;
    }
}

/* HOME PROJECTS */

.projects-preview {
    margin-bottom: 150px;

    &__inner {
        display: flex;
        flex-direction: column;
        gap: 120px;

        .project-preview {
            position: relative;

            &__name {
                font-size: 32px;
                position: absolute;
                top: -5%;
                z-index: 1;
            }

            &__link {
                width: 100%;
                height: 100%;

                img {
                    width: 790px;
                    height: 440px;
                    transition: all 0.3s linear;

                    &:hover {
                        transform: scale(0.9);
                    }
                }
            }

            &:first-child {
                align-self: flex-end;

                .project-preview__name {
                    right: 0;
                    margin-right: 10px;
                }
            }

            &:nth-child(2) {
                align-self: flex-start;

                .project-preview__name {
                    left: 0;
                    margin-left: 10px;
                }
            }
        }
    }
}

@media screen and (max-width: 900px) {
    .projects-preview__inner .project-preview__link .project-preview__image {
        width: 100%;
        object-fit: contain;
        height: 100%;
    }

    .projects-preview__inner .project-preview:first-child,
    .projects-preview__inner .project-preview:nth-child(2) {
        align-self: center;
    }
}

@media screen and (max-width: 700px) {
    .projects-preview__inner .project-preview:first-child {
        .project-preview__name {
            margin-right: 0;
            right: 50%;
            transform: translateX(50%);
        }
    }

    .projects-preview__inner .project-preview:nth-child(2) {
        .project-preview__name {
            margin-left: 0;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

@media screen and (max-width: 500px) {
    .projects-preview__inner .project-preview:first-child,
    .projects-preview__inner .project-preview:nth-child(2) {
        .project-preview__name {
            top: -15%;
        }
    }
}

/* BIG BUTTONS */

.big-buttons {
    margin-bottom: 120px;
    width: 100%;

    &__inner {
        display: flex;

        .big-button {
            text-align: center;
            display: block;
            flex: 1 1 50%;
            background-color: $black;
            color: #fff;
            padding: 150px;
            letter-spacing: 8px;
            font-weight: 700;
            font-size: 26px;
            cursor: pointer;

            &:hover {
                background-color: $button-hover-bg;
                color: $black;
            }
        }
    }
}

@media screen and (max-width: 900px) {
    .big-buttons__inner .big-button {
        padding: 30px 0;
        font-size: 20px;
    }
}

/* FOOTER */

.footer {
    margin-bottom: 5%;

    &__inner {
        display: flex;
        font-size: 15px;
        flex-wrap: wrap;

        .mail {
            padding-left: 30px;

            &__title {
                font-weight: 400;
                color: $black;
                margin-bottom: 10px;
            }
        }

        a {
            color: $dark-grey;
            font-weight: 300;

            &:hover {
                color: $black;
            }
        }

        ul {
            gap: 20px;
        }

        .social-links,
        .footer-navbar,
        .mail {
            flex: 1 1 33.333%;
        }
    }
}

@media screen and (max-width: 500px) {
    .footer__inner .mail {
        flex: 1 1 100%;
        text-align: center;
        margin-bottom: 20px;
    }
    .footer__inner .social-links,
    .footer__inner .footer-navbar {
        text-align: center;
        flex: 1 1 50%;
    }
}
