.project-description {
    &__inner {
        display: flex;
        flex-direction: column;
    }

    &__items {
        display: flex;
        justify-content: space-between;
        margin-bottom: 120px;
    }

    &__item {
        flex: 1 1 50%;

        &__title {
            font-size: 36px;
            margin-bottom: 30px;
        }

        &__text {
            color: $grey;
            letter-spacing: 1px;
            font-size: 18px;
            line-height: 30px;
            padding-left: 20px;
            font-weight: 300;
        }
    }

    &__image {
        flex: 1 1 33.333%;

        img {
            width: 385px;
            height: 270px;
        }
    }
}

@media screen and (max-width: 1200px) {
    .project-description__inner .project-description__items:nth-child(2) {
        flex-direction: column;
        gap: 20px;
        .project-description__image:first-child {
            align-self: flex-start;
        }

        .project-description__image:nth-child(2) {
            align-self: center;
        }

        .project-description__image:last-child {
            align-self: flex-end;
        }
    }
}

@media screen and (max-width: 700px) {
    .project-description__inner .project-description__items {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 50px;
        margin-bottom: 50px;
    }

    .project-description__inner
        .project-description__item
        .project-description__item__text {
        padding: 0 20px;
    }

    .project-description__inner .project-description__items:nth-child(2) {
        .project-description__image:first-child,
        .project-description__image:nth-child(2),
        .project-description__image:last-child {
            align-self: center;
        }
    }
}

.gallery {
    margin-bottom: 140px;

    &__inner {
        display: flex;
        flex-direction: column;
        gap: 25px;
    }

    &__items {
        display: flex;
        gap: 25px;
    }

    &__image_small {
        width: 585px;
        height: 420px;
    }

    &__image_big {
        width: 1200px;
        height: 570px;
    }

    .works-button {
        margin-top: 100px;
    }
}

@media screen and (max-width: 1200px) {
    .gallery__inner .gallery__item img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

@media screen and (max-width: 700px) {
    .gallery__inner .gallery__items {
        flex-direction: column;
    }

    .gallery__inner .gallery__item img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}
